.content{margin-top:70px;margin-left:10%;margin-right:10%}.content h1{padding-top:30px;font-weight:400;color:#006dae;font-family:"Century Schoolbook";font-size:1.875rem;line-height:1.2}.content p{color:#505050;font-weight:400;font-family:sans-serif;font-size:1.2rem}.content .bullet{padding-left:3%}.typeform2{font-family:Sans-Serif;font-size:12px;color:#999;opacity:.5;padding-top:5px}.typeform-widget{width:80%;height:500px}.next{margin-left:10%}
    .next button {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 17px;
        color: #fff;
        background-color:#343a40;
        border: none
    }.next button:hover{background-color:#fec503}.next a{color:#fff}@media screen and (max-width:450px){.next button{font-size:10px}}.content p{font-size:16px}