@{
    ViewBag.Title = "About";
<link href="~/Content/About.css" rel="stylesheet" />
}
<div class="container">
    <div class="row1">
        <div class="col-lg-12">
            <ul class="list-group timeline">
                <li class="list-group-item">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="~/Images/test_1.jpg" />
                    </div>
                    <div class="timeline-panel" id="content1">
                        <div class="timeline-heading">
                            <h4 style="font-family: 'Kaushan Script', cursive;">31st March 2020</h4>
                            <h4 class="subheading" style="font-family: 'Kaushan Script', cursive;">Our Humble Beginnings</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                4 students from Monash university banded together with a goal to make Melburnians aware of route safety for school-going children. Brainstorming throughout the week, the group came up with the idea to launch a website with various interactive features to help parents and children alike.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/test_2.jpg" /></div>
                    <div class="timeline-panel" id="content2">
                        <div class="timeline-heading">
                            <h4 style="font-family: 'Kaushan Script', cursive;">3rd April 2020</h4>
                            <h4 class="subheading" style="font-family: 'Kaushan Script', cursive;">Yellow Hats is born</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                The "Yellow Hat" symbolizes protection and warmth. This logo was derived from a young, innocent and brave, school-going girl named Madeline from a children's book and television series "Madeline". We believe that just like our logo, our main endgoal is to create awareness amongst children and parents about their routes to school to better protect their childhood.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/test_3.jpg" /></div>
                    <div class="timeline-panel" id="content3">
                        <div class="timeline-heading">
                            <h4 style="font-family: 'Kaushan Script', cursive;">19th May 2020</h4>
                            <h4 class="subheading" style="font-family: 'Kaushan Script', cursive;">Working Prototype</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                A functional skeleton of most of  our intended features goes live. Our website provides a dashboard with statistical data about the number of accidents around chosen schools which can help parents make decisions. Also included, a variety of content regarding safety in different modes of transport en-route to school everyday.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/test_4.jpg" /></div>
                    <div class="timeline-panel" id="content4">
                        <div class="timeline-heading">
                            <h4 style="font-family: 'Kaushan Script', cursive;">26th May 2020</h4>
                            <h4 class="subheading" style="font-family: 'Kaushan Script', cursive;">Planned Transition to Full Service</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                All the remaining features like the quizzes and games have been integrated and tested on the website. Security is functioning as intended and usability testing has been carried out. Withering the storm of COVID-19, working remotely through an intense 2 month development period and a learning curve which did not flatten at all;  We delivered!
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="timeline-image">
                        <h4 class="story">Be Part<br /> Of Our<br /> Story!</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="team-member">
            <img class="rounded-circle" src="~/Images/Hao.jpg" />
            <h4>Xiaohao Yang</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:xyan0052@student.monash.edu"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/Xiaohao-19?tab=repositories"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        <div class="team-member">
            <img class="rounded-circle" src="~/Images/Syed.png" />
            <h4>Syed Zohair Ahmad</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:s0002@student.monash.edu"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/syedzohairahmad/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="team-member">
            <img class="rounded-circle" src="~/Images/Xinyu.jpg" />
            <h4>Xinyu Che</h4>
            <p class="text-muted">Data Analyst</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:xche0105@student.monash.edu"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://au.linkedin.com/in/xinyu-che-9a5197173"><i class="fa fa-linkedin"></i></a></li>
                

            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="team-member">
            <img class="rounded-circle" src="~/Images/Thelma.png" />
            <h4>Thelma Lobo</h4>
            <p class="text-muted">Network and Security Administrator</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:tlob0001@student.monash.edu"><i class="fa fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="https://in.linkedin.com/in/thelma-lobo-74311043"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>



