@{
    ViewBag.Title = "Bicycle Safety";
    <link href="~/Content/Bike.css" rel="stylesheet" />
}
<div class="content">
    <h1>Bicycle Safety:</h1>
    <p>
        A recent study found that almost 70% of Victorians aged 17 and under used cycles as their main mode of transport with a third of them cycling exclusively to schools and other educational Institutions. Children under the age of 10 accounted for roughly 70% of these with female ridership slightly higher than male. Hence, Child riders make up a sizable chunk of those riding to and from schools.
    </p>
    <h1>Laws regarding riding to school:</h1>
    <p>
        Children should not ride to school alone in Victoria. In Victoria there is an "offence to leave child unattended" under section 494 of the Children, Youth and Families Act 2005:
        "A person who has the control or charge of a child must not leave the child without making reasonable provision for the child's supervision and care for a time which is unreasonable having regard to all the circumstances of the case."
        Under Victorian Law, Children are allowed to ride on the footpath if they are under the age of 12. If they are aged 12 and above,then the law demands kids have the capability to ride on paved streets. Generally speaking, children under the age of twelve do not have the neuro-physiological and psychological development to cope with complex traffic situations on their own.
    </p>
    <h1>Mandatory Rules:</h1>
    <p>Depending on the type of Bicycle being ridden, Mandatory rules as well as some suggestions are provided below:</p>
    <div class="bullet">
        <p>&bull;&nbsp;Helmet: Parents and students should be reminded that the law requires that all cyclists wear an approved bicycle helmet. Approved helmets have the Australian Standards Mark TM (AS/NZS 2063) and will be marked as suitable for cycling.</p>
        <p>&bull;&nbsp;High Visibility Vest: High-visibility vest allow you to be seen by the drivers of those vehicles sooner and more readily. This fact increases your safety at work. The human eye responds best to contrasting, bright or moving objects.</p>
        <p>&bull;&nbsp;When riding with Children on seperate bikes: Bike helmets are good for only 1 crash. Replace the helmet after a crash, and when the manufacturer suggests.</p>
    </div>
    <h1>Our recommendations:</h1>
    <div class="bullet">
        <p>&bull;&nbsp;Supervise your child at all times near traffic, particularly when crossing roads.</p>
        <p>&bull;&nbsp;Teach your child how to cross roads safely. Children must first stop at the kerb. Then they need to look and listen for traffic, and then decide whether it is safe to cross. ("STOP, LOOK, LISTEN and THINK")</p>
        <p>&bull;&nbsp;Make the trip to school together along the safest footpaths and use safe crossing places as an example for your child to follow.</p>
        <p>&bull;&nbsp;If you are unable to be there, arrange for your child to be supervised on the way to and from school and during after school activities. Ask if your school has a walking school bus program.</p>
        <p>&bull;&nbsp;Explain words like "fast", "slow", "near" and "far". Talk about signs and traffic lights and the safe places to cross. Point out dangerous places and where not to cross – near curves and where things might hide children from view.</p>
        <p>&bull;&nbsp;If you are picking children up from school, have a safe meeting place, then cross the street with them. Never call them over from the opposite side of the street.</p>
    </div>
    <h1>Activity:</h1>
</div>
<center><div class="typeform-widget" data-url="https://tlob0001.typeform.com/to/dV9SUn"></div></center>
<div class="typeform2"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=dV9SUn&utm_source=typeform.com-01E79JTAD74DWP5WC7CZ171D7C-professional&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
<div class="next">
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Next Learning&raquo;"), "Road", "Home")</button>
    <br />
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Safety Checklist"), "Checklist", "Home")</button>
</div>
<script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>










