@{
    ViewBag.Title = "Safety Vest";
    <link href="~/Content/Game2.css" rel="stylesheet" />
}
<div class="title1">To get better performance, please use PC with keyboard.</div>
<div class="container">
    <center><iframe class="responsive-iframe" src="https://connect.unity3dusercontent.com/webgl/0b721eaf-d169-43db-8ebb-4d93bd62fed6?screenshot=false&embedType=embed"></iframe></center>
</div>
<div class="next">
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Try Previous Game&raquo;"), "Game", "Home")</button>
</div>

