@{
    ViewBag.Title = "Pedestrian Safety";
    <link href="~/Content/walk.css" rel="stylesheet" />
}
<div class="content">
    <h1>Pedestrian Safety</h1>
    <p>
        According to Victorian Law, children should not be left to walk alone, but the law doesn't stipulate what age. Children, Youth and Families Act 2005, states:
    </p>
    <p style="font-weight:bold">
        A person who has the control or charge of a child must not leave the child without making reasonable provision for the child's supervision and care for a time which is unreasonable having regard to all the circumstances of the case.
    </p>
    <p>
        In all other states there are no clear-cut laws that specify the age at which children can be left alone to walk to and from school. Inadequate child supervision offences could apply to children up to 16 or 18 years of age.
    </p>
    <h1>Our Suggestion</h1>
    <p>
        There is no "magic age" when children are ready to start walking to school. It's best to wait until your child is 12 before allowing them to walk to school unsupervised.Certain precautions need to be taken to help kids stay safe when walking to school. Some suggestions include:
    </p>
    <div class="bullet">
        <p>&bull;&nbsp;Pay attention to what's going on around you.</p>
        <p>&bull;&nbsp;Don't wear headphones as they may stop you from hearing danger approaching.</p>
        <p>&bull;&nbsp;Find an easy way to get to school and home again with good crossings and as little traffic as possible.</p>
        <p>&bull;&nbsp;Parents, plan a safe route.</p>
        <p>&bull;&nbsp;Avoid taking shortcuts.</p>
        <p>&bull;&nbsp;Watch out for cars at every driveway and intersection.</p>
        <p>&bull;&nbsp;Don't accept rides from strangers.</p>
        <p>&bull;&nbsp;Leave early enough to arrive at school at least 10 minutes prior to the start of school.</p>
        <p>&bull;&nbsp;Use the same route every day and never use shortcuts.</p>
        <p>&bull;&nbsp;Go straight home after school. Do not go anywhere else without permission.</p>
        <p>&bull;&nbsp;Always use public footpaths and streets when walking to school.</p>
        <p>
            &bull;&nbsp;Only cross streets at designated crosswalks, street corners and traffic controlled intersections.
        </p>
        <p>
            &bull;&nbsp;Always walk and never run across intersections.
        </p>
    </div>
    <h1>Activity:</h1>
</div>
<center><div class="typeform-widget" data-url="https://tlob0001.typeform.com/to/KTm9wl"></div></center>
<div class="typeform2"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=KTm9wl&utm_source=typeform.com-01E79JTAD74DWP5WC7CZ171D7C-professional&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
<div class="next">
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Next Learning&raquo;"), "Bicycle", "Home")</button>
    <br />
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Safety Checklist"), "Checklist", "Home")</button>
</div>
<script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>







