@{
    ViewBag.Title = "Tracking Children";
}
<style>
    .container{position:relative;width:80%;margin-top:100px;padding-top:50%;overflow:hidden;margin-bottom:5%}.responsive-iframe{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;border:none}
</style>
<div class="container">
    <center><iframe class="responsive-iframe" src="https://onedrive.live.com/embed?cid=F5D07086F4DC9F36&resid=F5D07086F4DC9F36%21265&authkey=AJUvBjxSP5nzQKI&em=2&wdAr=1.7777777777777776&wdEaa=1"></iframe></center>
</div>