@{
    ViewBag.Title = "Road Safety";
    <link href="~/Content/road.css" rel="stylesheet" />
}
<div class="content">
    <h1>Road Safety</h1>
    <p>With so many people also traveling to and from schools at the start and end of the school day, it's important for every parent and child to practice road safety around schools together. Children should be encouraged to be alert and aware of their surroundings by practicing the road safety procedure - Stop, Look, Listen, and Think.</p>
    <h1>
        Safety Advice For Parents:
    </h1>
    <div class="bullet">
        <p>
            &bull;&nbsp;Make sure to use the appropriate child restraints for your child's age group. Every person in the car should be buckled into their seat before the car is started. Assist younger children with doing up their seat belt so it is not twisted and the strap is fitted correctly.
        </p>
        <p>
            &bull;&nbsp;Make sure your child gets in and out of the car on the footpath side, away from the traffic.
        </p>
        <p>
            &bull;&nbsp;Talk to your child about behavior that affects your concentration when you are driving. Praise them when they have been well behaved and considerate as a passenger.
        </p>
        <p>
            &bull;&nbsp;All passengers must wear a seat belt or child restraint. Assist your child when putting on restraint and encourage your child to check that they are "clicked in" properly.
        </p>
        <p>
            &bull;&nbsp;Parents should talk to their children about wearing a seatbelt correctly, such as ensuring the seatbelt sits firmly over their shoulders and not around their neck or under their arm and across their stomachs.
        </p>
        <p>
            &bull;&nbsp;It should be stressed that booster seats and special child restraints are not only for 'babies', as children who are beginning school may view them in this way.
        </p>
    </div>
    <h1>Activity:</h1>
</div>
<center><div class="typeform-widget" data-url="https://tlob0001.typeform.com/to/jN0Pml"></div></center>
<div class="typeform2"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=jN0Pml&utm_source=typeform.com-01E79JTAD74DWP5WC7CZ171D7C-professional&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
<div class="next">
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Next Learning&raquo;"), "Pedestrain", "Home")</button>
    <br />
    <button>@Html.ActionLink(HttpUtility.HtmlDecode("Safety Checklist"), "Checklist", "Home")</button>
</div>
<script>(function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>



