@{
    ViewBag.Title = "Safety Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content{margin-top:70px;margin-left:10%;margin-right:10%}.content h1{padding-top:30px;font-weight:400;color:#006dae;font-family:"Century Schoolbook";font-size:1.875rem;line-height:1.2}.content p{color:#505050;font-weight:400;font-family:sans-serif;font-size:16px}.content .bullet{padding-left:3%}
</style>
<div class="content">
    <h1>Road Safety School Programs</h1>
    <p>
        Road safety education is the program of educational activities around road safety that is provided to children and young people in formal and community education settings – such as early childhood services, primary and secondary schools.
    </p>
    <p>
        Road safety education encourages and supports the role that parents and carers play in helping their children to be safe road users and to learn about road safety. It seeks to develop the behaviors and attitudes for safe road use relevant to the development of children and young people as passengers, pedestrians, cyclists, and as novice drivers. To be effective, road safety education must be evidence-based and match the child/young person's stage of development and level of independence as a road user.
    </p>
    <p>
        Yellow hat introduces the following safety programs for school route safety:
    </p>
    <div class="bullet">
        <p>&bull;&nbsp;<a href="https://www.vicroads.vic.gov.au/safety-and-road-rules/road-safety-education/primary-schools/bike-ed">Bike Ed</a></p>
        <p>&bull;&nbsp;<a href="https://www.bicyclenetwork.com.au/rides-and-events/ride2school/">Ride To School</a></p>
        <p>&bull;&nbsp;<a href="https://www.vichealth.vic.gov.au/programs-and-projects/walking-school-bus">Walking School Bus</a></p>
        <p>&bull;&nbsp;<a href="https://www.onlymelbourne.com.au/traffic-schools-children">Children Traffic Schools</a></p>
        <p>&bull;&nbsp;<a href="https://childroadsafety.org.au/">Starting out Safely</a></p>
    </div>
    <h1>
        Bike Ed
    </h1>
    <p>
        Bike Ed is delivered in schools and community settings. It inspires children to develop their bicycle riding skills and their physical capability. Other benefits include enhanced health, fitness and wellbeing, confidence and independence, and learning and social development. The program helps children aged 9 to 13 years develop the skills they need to ride safely and independently on roads and paths. Bike Ed aims to enable students to gain knowledge and understanding of the road traffic environment and the road rules, develop the physical and cognitive skills to manage the road traffic environment safely as a cyclist and also develop responsible behaviors, attitudes, and decision-making skills for the safe use of bicycles both on and off the road through participation in enjoyable learning experiences relevant to their ages and abilities.
    </p>
    <p>Learn more about <a href="https://www.vicroads.vic.gov.au/safety-and-road-rules/road-safety-education/primary-schools/bike-ed">Bike Ed</a>.</p>
    <h1>Ride To School</h1>
    <p>
        Studies show that one in four children are not getting enough exercise and an early ride or walk to school is a great way to ensure students are energized and ready to start learning from the first bell. This is where the Ride2School program comes into the picture. It is a nationwide program delivered by Bicycle Network, designed to support schools and local councils to encourage, empower, and enable more students to get physically active on their journey to school.  It also encourages children to be more active by riding their bikes, walking, scooting, or skating to school, and complements the Government's commitment to promoting cycling as a sustainable and active transport option.
    </p>
    <p>Learn more about <a href="https://www.bicyclenetwork.com.au/rides-and-events/ride2school/">Ride To School</a>.</p>
    <h1>
        Walking school bus
    </h1>
    <p>
        In Victoria, nearly one-third of all children spend less than 5 minutes of walking per day. Inactive children are more likely to be overweight – and the proportion of Australian children who are overweight is now reaching 25%. Walking to and from school gives children an opportunity to engage in regular physical activity, yet 70% of children are driven to school even though 80% live within 3km of their school. Changing behaviors of children and parents require creative solutions that are safe and fun. Implementing a walking school bus can be both. A Walking School Bus is a school bus powered not by an engine but by legs. It can be as informal as two families taking turns walking their children to school to as structured as a route with meeting points, a timetable and a regularly rotated schedule of trained volunteers. A variation on the walking school bus is the bicycle train, in which adults supervise children riding their bikes to school. The flexibility of the walking school bus makes it appealing to communities of all sizes with varying needs.
    </p>
    <p>Learn more about <a href="https://www.vichealth.vic.gov.au/programs-and-projects/walking-school-bus">Walking School Bus</a>.</p>
    <h1>
        Children Traffic Schools
    </h1>
    <p>
        The Traffic School is a mini road set up for children aged two to ten years, complete with road signs, railway bells and traffic lights. It is a safe place for children to gain confidence, practice riding their bicycles and learn about road rules.
    </p>
    <p>Learn more about <a href="https://www.onlymelbourne.com.au/traffic-schools-children">Children Traffic Schools</a>.</p>
    <h1>Starting out Safely</h1>
    <p>
        Starting Out Safely is about children, parents, carers, and early childhood educators working together to guide children's learning in being and becoming safe and independent road users. Key statewide activities of Starting Out Safely include early childhood road safety education advocacy, professional development for early childhood educators, child restraint education, including culturally and linguistically diverse communities.
    </p>
    <p>Learn more about <a href="https://childroadsafety.org.au/">Starting out Safely</a>.</p>
</div>








